/*==================================================================*
 *  BASE LAYOUT                                                *
 *==================================================================*/

body {
  font-family: 'Quicksand', sans-serif;
  color: white;
}

a {
  color: inherit;
}

.side-nav{
  color: black;
  font-size: 18px;
}

/*==================================================================*
 *  STRUCTURE LAYOUT                                                *
 *==================================================================*/
.absolute {
  position: absolute;
}

.top {
  top: 3%;
}

.bottom {
  bottom: 5%;
}

.right {
  right: 2%;
  text-align: right;
}

.left {
  left: 2%;
  text-align: left;
}

#slide-out {
  padding: 0;
}

#slide-out li {
  height: auto;
}
/*==================================================================*
 *  CONTENT LAYOUT                                                  *
 *==================================================================*/
.greet{
  width: 250px;
  margin: 0px auto;
  position: relative;
  top: 250px;
}
.greet span{
  font-size: 22px;
  text-align: center;
  display: block;
  font-size: 32px;
  color: white;
}
.clock{
  margin: 0px;
  text-align: right;
  font-size: 80px;
  color: white;
}

#background {
  opacity: 0;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 1;
}​

#time{
  width: 100%;
}
#date{
  display: block;
  font-size: 0.25em;
}

#photo{
  font-size: .15em;
  padding-top: 100px;
  padding-bottom: 5px;
}
.quote{
  max-width: 700px;
  font-size: 20px;
}

.quote-text{
  font-style: italic;
  margin-bottom: 5px;
}

.quote-author{
  text-align: left;
  font-size: 0.8rem;
  padding-left: 5px;
}

.search-wrapper {
  padding: 5px 10px;
}

#task {
  border-style: none;
  margin: 0;
  width: 85%;
  height: auto;
  margin-right: 10px;
}

#task:focus {
  border-bottom: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;  
}

#badge-position {
  position: relative;
}

#badge {
  display: none;
  position:absolute;
  top:-12px;
  right:-12px;
  font-size:1em;
  background:red;
  color:white;
  width:25px;height:25px;
  text-align:center;
  font-style: bold;
  line-height:25px;
  border-radius:50%;
}

.wrapper {
  height: 95%;
  padding: 15px;
  position: relative;
}

.list {
  position: relative;
}